<p id="notice"><%= notice %></p>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Bem-Vindo', root_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Cargos</li>
  </ol>
</nav>

<h1>Job Roles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @job_roles.each do |job_role| %>
      <tr>
        <td><%= job_role.title %></td>
        <td><%= link_to 'Show', job_role %></td>
        <td><%= link_to 'Edit', edit_job_role_path(job_role) %></td>
        <td><%= link_to 'Destroy', job_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job Role', new_job_role_path %>
